In [ ]:
### to open files 
## Below are files that store columns' datatype
col_string = pd.read_csv('../datasets/string_columns.txt',header=None) 
col_numeric = pd.read_csv('../datasets/float_int_columns.txt',sep=',',index_col='column_name')

In [61]:
import pandas as pd

In [68]:
col_string = pd.read_csv('../datasets/string_columns.txt',header=None)   
col_numeric = pd.read_csv('../datasets/float_int_columns.txt',sep='\t',index_col='column_name')

In [69]:
col_numeric.head()

              data_type
column_name
Lot Frontage      float
Lot Area          float
Mas Vnr Area      float
BsmtFin SF 1      float
BsmtFin SF 2      float

In [70]:
# TO check if there is space after the name

list(col_numeric.index)

# ALl names as a space behind, need to remove them

['Lot Frontage ',
 'Lot Area ',
 'Mas Vnr Area ',
 'BsmtFin SF 1 ',
 'BsmtFin SF 2 ',
 'Bsmt Unf SF ',
 'Total Bsmt SF ',
 '1st Flr SF ',
 '2nd Flr SF ',
 'Low Qual Fin SF ',
 'Gr Liv Area ',
 'Garage Area ',
 'Wood Deck SF ',
 'Open Porch SF ',
 'Enclosed Porch ',
 '3Ssn Porch',
 'Screen Porch ',
 'Pool Area ',
 'Misc Val ',
 'SalePrice ',
 'Id',
 'Year Built ',
 'Year Remod/Add ',
 'Bsmt Full Bath ',
 'Bsmt Half Bath ',
 'Full Bath ',
 'Half Bath ',
 'Bedroom AbvGr',
 'Kitchen AbvGr',
 'TotRms AbvGrd',
 'Fireplaces ',
 'Garage Yr Blt ',
 'Garage Cars ',
 'Mo Sold ',
 'Yr Sold ']

In [73]:
col_numeric.index = col_numeric.index.map(lambda x: x.strip())
list(col_numeric.index)

# Now they look correct

['Lot Frontage',
 'Lot Area',
 'Mas Vnr Area',
 'BsmtFin SF 1',
 'BsmtFin SF 2',
 'Bsmt Unf SF',
 'Total Bsmt SF',
 '1st Flr SF',
 '2nd Flr SF',
 'Low Qual Fin SF',
 'Gr Liv Area',
 'Garage Area',
 'Wood Deck SF',
 'Open Porch SF',
 'Enclosed Porch',
 '3Ssn Porch',
 'Screen Porch',
 'Pool Area',
 'Misc Val',
 'SalePrice',
 'Id',
 'Year Built',
 'Year Remod/Add',
 'Bsmt Full Bath',
 'Bsmt Half Bath',
 'Full Bath',
 'Half Bath',
 'Bedroom AbvGr',
 'Kitchen AbvGr',
 'TotRms AbvGrd',
 'Fireplaces',
 'Garage Yr Blt',
 'Garage Cars',
 'Mo Sold',
 'Yr Sold']

In [78]:
list(col_numeric['data_type'])
# data_type look ok, no space after the name

['float',
 'float',
 'float',
 'float',
 'float',
 'float',
 'float',
 'float',
 'float',
 'float',
 'float',
 'float',
 'float',
 'float',
 'float',
 'float',
 'float',
 'float',
 'float',
 'float',
 'int',
 'int',
 'int',
 'int',
 'int',
 'int',
 'int',
 'int',
 'int',
 'int',
 'int',
 'int',
 'int',
 'int',
 'int']

In [79]:
col_numeric['data_type'].value_counts()

# the name seems

float    20
int      15
Name: data_type, dtype: int64

In [80]:
col_numeric.head()

             data_type
column_name
Lot Frontage     float
Lot Area         float
Mas Vnr Area     float
BsmtFin SF 1     float
BsmtFin SF 2     float

In [82]:
# Save it to the file
col_numeric.to_csv('../datasets/float_int_columns.txt', header=True)