In [5]:
import pandas as pd
import numpy as np

In [6]:
# Find none numeric entry in the dataframe
df = pd.DataFrame({'a': [1, 2, 3, 'bad', 5],
                   'b': [0.1, 0.2, 0.3, 0.4, 0.5],
                   'item': ['a', 'b', 'c', 'd', 'e']})
df = df.set_index('item')
df

        a    b
item
a       1  0.1
b       2  0.2
c       3  0.3
d     bad  0.4
e       5  0.5

In [7]:
df.applymap(np.isreal)

          a     b
item
a      True  True
b      True  True
c      True  True
d     False  True
e      True  True

In [11]:
df[~df['a'].apply(np.isreal)]  # apply the check to specific column only

        a    b
item
d     bad  0.4

In [ ]:
# find entry that cannot convert to numeric:
# 1. Use .to_numeric() to mark the entry as NaN, 
# 2. Use .isnull() to identify its loc, then ask df[loc]

df[pd.to_numeric(df, errors='coerce').isnull()]

In [12]:
# convert the number to float, if it's abnormal as ?, return np.nan

map_qstn = lambda x: (np.nan if x =='?' else float(x))

df['RAD'] = df['RAD'].map(map_qstn)

KeyError: 'RAD'