In [2]:
import pandas as pd
import numpy as np

In [6]:
dct = pd.read_csv('./WiDS Datathon 2020 Dictionary.csv')
print(dct.shape)

(188, 6)

In [5]:
dct.head()

,Category,Variable Name,Unit of Measure,Data Type,Description,Example
0,identifier,encounter_id,None,integer,Unique identifier associated with a patient un...,None
1,identifier,hospital_id,None,integer,Unique identifier associated with a hospital,None
2,identifier,patient_id,None,integer,Unique identifier associated with a patient,None
3,demographic,hospital_death,None,binary,Whether the patient died during this hospitali...,0
4,demographic,age,Years,numeric,The age of the patient on unit admission,None

## Column grouping

In [ ]:
groups = pd.read_csv('./data_grouping.csv',header=None)
groups.head()

vitals = groups.loc[0,1:].dropna().values
labs = groups.loc[1,1:].dropna().values
labs_blood_gas = groups.loc[2,1:].dropna().values
print(vitals.shape)
print(vitals)
print(labs.shape)
print(labs)
print(labs_blood_gas.shape)
print(labs_blood_gas)